
#wrap{
    width: 900px; 
	margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    background-position: center;
background-image:url(images/_original.jpg);
font-family: bell mt;
font-size: 14pt;
border-style:groove;
}
#desk{
    background: url(images/Desk_Texture.jpg);
    background-attachment: fixed;
}

}
hr
{
border-color: black solid red;
}
#doc-font{
    font-family:bell mt;
}
#bio-head{
    margin-bottom:-25px;
}
#experience-head{
    margin-bottom:-25px;
}
#education-head{
    margin-bottom: -25px;
}
#skills-head{
    margin-bottom: -25px;
}

#languages-head{
    margin-bottom: -25px;
}
#hobbies-head{
    margin-bottom: -25px;
}
