
#wikilogo{
    background-color: #93b874; 
    top: 0;
    width: 100%;
    position:fixed;
    padding: 5px;
    left: 0;
    
}
body{
    background-color: #ECEBE8;
}

hr{
    color: black;
}
#centerwrap{
    width: 900px;
    margin: 0 auto;
    align-content: center;
   
}
#headings{
    font-family: Avenir;
    position: sticky;
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    color: #222;
    width:100%;
/*    background-color: #ECEBE8;*/
    margin: 0 auto;
}
#step_num{

    font-size: 30pt;
    color: #545454;
    padding: 5px 15px 5px
        15px;
    float: left;
    font-weight: bold;
    background-color: #93b874;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 5px;
}
#step{
    background-color: white;
     border-radius: 5px;
padding: 6pt;

}

#cheatsheet-left{
width: 170px;
padding:5px;
    margin: auto;
    float: left;
    text-align: center;
        font-size: 8pt;
    font-family: avenir;
}
#cheatsheet-middle{   
  width: 170px;
    padding: 5px;
    margin: auto;
    float: right;
    text-align: center;
    font-size: 8pt;
        font-family: avenir;

}
#cheatsheet-outer{
   width:170px;
    padding:5px;
    margin: auto;
    text-align: center;
        font-size: 8pt;
        font-family: avenir;


}

span{
    background-color: lightgray;
    padding: 0 10px;
    border-style: groove;
}
p{
    font-family: avenir;
        color: #545454;
    letter-spacing: .25pt;
    text-align:justify;
    font-size: 14pt;
    margin-left: 5;
    margin-right: 5;
    
}
li{
    font-family: avenir;
        color: #545454;
    letter-spacing: .25pt;
    font-size: 12pt;
    padding-bottom: 3px;
}
#subbullet{
    font-size: 12pt;
    line-height: 1;
    font-weight:bold;
}
#helplinks{
    font-size: 10pt;
    text-decoration: none;
    background-color: #F6F8F7;
    margin: 0 auto;
}
.links:link{
    text-decoration:none; 
color: #363;} 
a:visited{
    text-decoration: none;
}
a:link{text-decoration: none;}

